<h1>Dictionary</h1>
  <h2>Create your own custom dictionary!</h2>
  <br>
  <ul>
    <% @words.each() do |word| %>
    <li><%= word.word() %></li>
    <% end %>
  </ul>

  <form action="/nw" method="post">
    <div class="form-group">
      <label for="word">Add a word to create your dictionary:</label>
      <input id="word" name="word" class="form-control" type="text">
  </div>
    <button type="submit">Add</button>
  </form>
